@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import '../Helpers/mixin';
@import '../Helpers/variabler';

body {
  padding: 3%;
  font-family: $headFont;
  background-color: $background;
  color: $lightgrey;
  overflow-x: hidden;

  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1vw;
    width: 90%;
    margin: auto;

    .layoutTitle {
      font-size: 35pt;
      color: $white;
      padding: 0;
      margin: 0;
      font-weight: lighter;

    }

    .layoutSubtitle {
      color: $white;
      font-size: 18pt;
      padding: 0;
      margin: 0;

    }



    h2,
    h3 {
      color: $white;
    }


  }


}