@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import '../Helpers/mixin';
@import '../Helpers/variabler';

body {
  padding: 3%;
  font-family: $headFont;
  background-color: $background;
  color: $lightgrey;

  .layoutTitle,
  .layoutSubtitle {
    color: $white;
  }

  h2,
  h3 {
    color: $white;
  }


}