@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import '../Helpers/mixin';
@import '../Helpers/variabler';

body {
  text-align: center;
  font-family: $headFont;
  background-color: $background;
}