@import '../Helpers/mixin';
@import '../Helpers/variabler';

footer {
    background-color: $footer;

    position: absolute;
    padding: 1em;
    width: 100%;
    right: 0.2em;

    img {
        @include center;
    }
}