@import '../Helpers/mixin';
@import '../Helpers/variabler';



@media screen and (min-width: $x-large) {

    header {
        display: grid;
        grid-template-columns: 70% 30%;

        section {
            // width: 25%;
            padding-left: 3em;
            padding-top: -0.5em;
            position: relative;
            grid-template-rows: auto auto;

            div {
                p {
                    font-size: 10px;
                    display: inline;
                    color: $lightgrey;
                }

                img {
                    display: inline;
                    width: 1vw;
                }
            }

            .searchinput {

                width: 17vw;
                height: 7vh;
                @include input;
                display: inline;
            }

            .searchbutton {
                @include button;
                height: 7vh;
                width: 3.5vw;
                // font-size: 1.3em;
                margin-left: 0.3em;

            }
        }

        .wrapper {
            p {
                padding: 1.5em;
            }

            .phone {
                width: 0.4vw;


            }

            .kurv {
                background-color: transparent;
                padding-left: 1em;
                width: 1.5vw;
            }
        }
    }
}

@media screen and (max-width: $large) {}

@media screen and (max-width: $tablet) {}

@media screen and (max-width: $mobile) {
    .searchbutton {
        background-color: red;
    }
}