@import '../Helpers/mixin';
@import '../Helpers/variabler';




//favorites
.favorites {
    @include products;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    figure {
        display: grid;
        grid-template-columns: 40% auto;

        img {
            transform: rotate(270deg);
        }

        figcaption {
            margin-left: -3em;
        }


    }
}