@import '../Helpers/mixin';
@import '../Helpers/variabler';

section {
    display: inline;
    margin-bottom: 2em;
    padding-left: 30vw;

    button {
        @include button;
        height: 5vh;
        width: 7vw;


    }

    input {
        @include input;
        display: block;
        padding: 5px 5px;
        margin-bottom: 10px;

        width: 25vw;
        height: 35px;
    }
}