@import '../Helpers/mixin';
@import '../Helpers/variabler';


.productlist {
    @include products;

    figure {
        display: grid;
        grid-template-columns: 30% 70%;
        height: 40vh;

        img {
            height: 100%;
            transform: rotate(270deg);

        }

        figcaption {
            display: grid;
            grid-template-columns: auto auto;

            article {
                padding-left: 2em;

                &:nth-child(2) {
                    display: grid;
                    grid-template-rows: auto auto auto;
                    padding-right: 2em;

                }

                p {
                    &:nth-child(3) {
                        text-align: right;
                        margin-top: -10px;
                    }
                }

                .price {
                    border: solid 1px $lightgrey;
                    border-radius: 5px;
                    width: 10vw;

                    text-align: center;
                    padding-top: 1em;
                }

                button {
                    width: 10vw;
                    height: 7vh;
                    cursor: pointer;
                }
            }
        }
    }
}

.productdetails {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border: solid 0.5px $darkgrey;

    img {
        width: 100%;
    }

    .rotateimg {
        transform: rotate(270deg);

    }

    figcaption {

        h2 {
            color: $white;
        }
    }

    article {
        display: grid;
        grid-template-rows: auto auto auto auto auto;

        color: $white;

        img {
            width: 100%;
            margin-top: 5em;
        }

        .price {
            border: solid 1px $lightgrey;
            border-radius: 5px;
            width: 12vw;
            text-align: center;
            padding-top: 1em;
            margin-left: 3em;
        }

        button {
            @include button;
            background-color: $knap;
            color: $white;
            width: 12vw;
            height: 10vh;
            cursor: pointer;
            margin-left: 3.5em;

        }
    }



    .longdes {

        white-space: pre-wrap;

    }
}

@media screen and (max-width: $mobile ) {
    article {

        display: block;

        figure {
            display: block;
            border: solid 0.5px $darkgrey;
            height: 90vh;

            img {
                width: 100%;
                height: 50%;
            }

            figcaption {
                h2 {
                    padding: 0;
                    margin: 0;
                }

                p {
                    font-size: 2.5vh;
                }

                display: block;

                article {
                    p {
                        &:nth-child(3) {
                            text-align: right;
                            margin-top: -10px;
                        }
                    }

                    .pris {
                        padding-top: 0;
                        width: 20vw;
                        font-size: 2.5vh;
                        text-align: center;

                    }

                    button {
                        width: 20vw;
                        height: 7vh;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}