@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin button {
    background-color: $primærknap;
    border-radius: 5px;
    cursor: pointer;
}

@mixin input {
    background-color: $knapbg;


    border-radius: 5px;
    border: solid 1px $knapbg;
    color: $primærknap;


    &::placeholder {
        color: $primærknap;
    }
}

@mixin products {
    figure {
        border: solid 0.5px $darkgrey;

        img {

            width: 100%;
        }


        figcaption {

            width: 100%;


            h3 {
                margin: 0;
                padding: 0;
                font-size: 2em;
                text-decoration: none;
                color: $white;

            }


            p {
                display: inline;
                color: $lightgrey;

                a {
                    color: $primærknap;
                }
            }

            button {
                background-color: $knap;
                color: $white;
                width: 50%;
                display: inline;
                border-radius: 5px;
            }

        }
    }
}