//COLOR KODE
$background: #000;
$knap: #d10061;
$primærknap: #35ddb0;
$lightgrey: #afafaf;
$darkgrey: #393939;
$blackone: #0a1d1c;
$blacktwo: #2c3737;







//FONTS
$headFont: 'Titillium Web', sans-serif;


//BREAKPOINTS
$x-large: 1300px;
$large: 1300px;
$tablet: 980px;
$mobile: 580px;